@model Cuponera.Entities.product

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <div class="item-description">
        <b>Nombre:</b> @Html.DisplayFor(model => model.Title)
    </div>

    <div class="item-description">
        <b>Descripción:</b> @Html.DisplayFor(model => model.Description)
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" class="inactive" />
        }
    </div>

    <div class="item-description">
        <b>Precio:</b> @Html.DisplayFor(model => model.Price)
    </div>

    <div class="item-description">
        <b>Categoria:</b> @Html.DisplayFor(model => model.category.Name)
    </div>

    <div class="item-description">
        <b>Sucursal:</b> @Html.DisplayFor(model => model.store.Name)
    </div>

    <div class="item-description">
        <b>Fecha de inicio:</b> @Html.DisplayFor(model => model.StartDatetime)
    </div>

    <div class="item-description">
        <b>Fecha de finalización:</b> @Html.DisplayFor(model => model.ExpirationDatetime)
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <div class="control-label col-md-2 item-description">
                <b>Portada:</b> <img src="@Html.DisplayFor(model => model.ImagePath)" style="width:80px; height:80px" alt="inactive" class="inactive" />
            </div>
            <div class="item-description">
                <b>Imagenes:</b>
                @foreach (var item in Model.images)
                {
                    <img src="@Html.DisplayFor(model => item.ImagePath)" style="width:80px; height:80px" alt="inactive" class="inactive" />
                }
            </div>
        </div>
    </div>


    
     


</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProduct }) |
    @Html.ActionLink("Volver", "Index")
</p>
