@model IEnumerable<Cuponera.Entities.product>

@{
    ViewBag.Title = "Productos";
}

<script type="text/javascript">
    var globals = {
        controller: 'product',
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'name',
                controlDefaultValue: '@(Request.Params["name"] != null ? @Request.Params["name"] : "")',
                label: 'Nombre'
            }]
        }
    };
</script>

<h2>Productos</h2>


<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")



    @if (Model.Count() == 0)
    {
        <div class="no-data">No hay datos.</div>
    }
    else
    { <div class="table-all">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Empresa
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr data-item-id="@item.IdProduct">
                        <td>
                            <span class="item-name">@Html.DisplayFor(modelItem => item.Title)</span>
                        </td>
                        <td class="current-status">
                            @if (item.DeletionDatetime == null)
                            {
                                <img src="Images/tick.ico" alt="active" class="active" />
                            }
                            else
                            {
                                <img src="Images/x.ico" alt="inactive" class="inactive" />
                            }
                        </td>

                        <td>
                            <span class="item-name">@Html.DisplayFor(modelItem => item.category.Name)</span>
                        </td>

                        <td>
                            <span class="item-name">@Html.DisplayFor(modelItem => item.company.Name)</span>
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdProduct }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.IdProduct }) |

                            @if (item.DeletionDatetime == null)
                            {
                                <a href="#" class="deactivate" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                            }
                            else
                            {
                                <a href="#" class="activate" data-popup-to-open="dialog-confirm-activate">Activar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("Paginator")
    </div>
            

    <div style="clear:both;"></div>
    }
    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>

</div>
