@model IEnumerable<Cuponera.Entities.product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletionDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletionDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProduct }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProduct })
        </td>
    </tr>
}

</table>
