@model IEnumerable<Cuponera.Entities.product>

@{
    ViewBag.Title = "Productos";
}

<script type="text/javascript">
    var globals = {
        controller: 'product',
        min_filters_size: 400,
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'title',
                controlDefaultValue: '@(Request.Params["title"] != null ? @Request.Params["title"] : "")',
                label: 'Titulo'
            },{
                controlType: 'select',
                controlId: 'category',
                controlDefaultValue: '@(Request.Params["category"] != null ? @Request.Params["category"] : "")',
                label: 'Categoría',
                source: {
                    include_all: true,
                    controller: 'category',
                    action: 'GetAllBasicData'
                }
            }]
        }
    };
</script>

<h2>Productos</h2>

<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")



    @if (Model.Count() == 0)
    {
        <div class="no-data">No hay datos.</div>
    }
    else
    {
        <div class="table-all">
            <table class="table">
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        $
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr data-item-id="@item.IdProduct">
                        <td>
                            <span class="item-name">@Html.DisplayFor(modelItem => item.Title)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.category.Name)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.Price)</span>
                        </td>
                        <td>
                            @if (item.DeletionDatetime == null && item.StartDatetime < DateTime.Now && item.ExpirationDatetime > DateTime.Now)
                            {
                                <img src="Images/tick.ico" alt="active" class="active" style="" />
                            }
                            else
                            {
                                <img src="Images/x.ico" alt="inactive" class="inactive" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdProduct }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.IdProduct }) |
                            @if (item.DeletionDatetime == null)
                            {
                                <a href="#" class="deactivate" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                            }
                            else
                            {
                                <a href="#" class="activate" data-popup-to-open="dialog-confirm-activate">Activar</a>
                            } |
                            @Html.ActionLink("Oferta", "Create", "offer", new { IdProduct = item.IdProduct }, null)
                        </td>
                    </tr>
                }

            </table>
            @Html.Partial("Paginator")
        </div>

        <div style="clear:both;"></div>
    }

    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>
</div>