@model IEnumerable<Cuponera.Entities.companyStore>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletionDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletionDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCompanyStore }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCompanyStore }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCompanyStore })
        </td>
    </tr>
}

</table>
