@model Cuponera.Entities.userCompany

@{
    ViewBag.Title = "Detalle " + Model.UserProfile.UserName;
}

<h2>@Html.DisplayFor(model => model.UserProfile.UserName)</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </dd>

        <dt>
            Compañia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.Name)
        </dd>

        <dt>
            Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

        <dt>
            Sucursal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUserCompany }) |
    @Html.ActionLink("Volver", "Index")
</p>
