@model Cuponera.Entities.userCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>userCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCompany1.IdUserCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCompany1.IdUserCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCompany2.IdUserCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCompany2.IdUserCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUserCompany }) |
    @Html.ActionLink("Back to List", "Index")
</p>
