@model IEnumerable<Cuponera.Entities.userCompany>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userCompany1.IdUserCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userCompany2.IdUserCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userCompany1.IdUserCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userCompany2.IdUserCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUserCompany }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUserCompany }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUserCompany })
        </td>
    </tr>
}

</table>
