@model Cuponera.Entities.category

@{
    ViewBag.Title = "Detalle " + Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <br />
    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </div>


    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" title="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" title="inactive" class="inactive" />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCategory }) |
    @Html.ActionLink("Volver", "Index")
</p>
