@model IEnumerable<Cuponera.Entities.category>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    var global = {
        controller: 'category'
    }
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletionDatetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletionDatetime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCategory }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategory }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategory })
        </td>
    </tr>
}

</table>
