@model Cuponera.WebSite.Models.LocalPasswordModel

<p>
    Usted no tiene una password local. Agregue una para que pueda
    loguearse sin tener que usar una cuenta externa.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="account-operation">
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>
}
