@model Cuponera.WebSite.Models.ChangePasswordModel
@{
    ViewBag.Title = "Cambiar password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Cambiar contraseña al usuario: <strong>@ViewBag.UserName</strong>.</p>

@using (Html.BeginForm("ChangePassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessage("MismatchPasswords", new { @class = "text-danger" })
            </li>
        </ol>
        @Html.Hidden("Token")
        @Html.Hidden("UserName")
        <input type="submit" value="Cambiar password" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
