@model Cuponera.WebSite.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Recuperar Clave";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @Html.ValidationMessage("UnknownAccount", new { @class = "text-danger" })
            </li>
        </ol>
        <input type="submit" value="Recuperar" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
