@model Cuponera.Entities.offer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>offer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromoCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromoCode)
                @Html.ValidationMessageFor(model => model.PromoCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TargetURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TargetURL)
                @Html.ValidationMessageFor(model => model.TargetURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDatetime)
                @Html.ValidationMessageFor(model => model.StartDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpirationDatetime)
                @Html.ValidationMessageFor(model => model.ExpirationDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemOrder)
                @Html.ValidationMessageFor(model => model.ItemOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdProduct, "IdProduct", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProduct", String.Empty)
                @Html.ValidationMessageFor(model => model.IdProduct)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreationDatetime)
                @Html.ValidationMessageFor(model => model.CreationDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModificationDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModificationDatetime)
                @Html.ValidationMessageFor(model => model.ModificationDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeletionDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeletionDatetime)
                @Html.ValidationMessageFor(model => model.DeletionDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagePath)
                @Html.ValidationMessageFor(model => model.ImagePath)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
