@model Cuponera.Entities.offer

@{
    ViewBag.Title = "Detalle oferta del producto " + Model.product.Title;
}

<h2>@Model.product.Title</h2>

@Scripts.Render("~/bundles/ValidateEnabledObjectHierachy")

<script type="text/javascript">

    $(function () {
        AddWarningOnInactiveObjects("IdProduct", "offer", "productInactive");
    });
</script>

<div>
    <h4>Oferta</h4>
    <hr />
    <div class="item-description">
        <b>Producto:</b> @Html.DisplayFor(model => model.product.Title)
    </div>
    <div class="item-description">
        <div style="clear:both"></div>
        <div id="IdProduct" class="hidden">@Html.DisplayFor(model => model.IdProduct)</div>
        <div id="productInactive" class="advertisement float-left" style="clear:both">
            Atención: la empresa, la sucursal o el producto elegido está desactivado.
        </div>
    </div>
    <div style="clear:both"></div>

    <div class="item-description">
        <b>Nombre:</b> @Html.DisplayFor(model => model.Title)
    </div>

    <div class="item-description">
        <b>Descripción:</b> @Html.DisplayFor(model => model.Description)
    </div>

    <div class="item-description">
        <b>Precio:</b> $@Html.DisplayFor(model => model.Price)
    </div>


    <div class="item-description">
        <b>Fecha de inicio:</b> @Html.DisplayFor(model => model.StartDatetime)
    </div>

    <div class="item-description">
        <b>Fecha de finalización:</b> @Html.DisplayFor(model => model.ExpirationDatetime)
    </div>

    <div class="item-description">
        <div class="col-md-10">
            <b>Imágenes:</b>
            <span>@(Model.images.Count() == 0 && string.IsNullOrEmpty(Model.ImagePath) ? "No hay imágenes cargadas." : "")</span>
            <div class="images-container">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <div class="image-container selected" data-id-image="main">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => model.ImagePath)" class="preview selected" alt="Portada" />
                        </div>
                    </div>
                }
                @foreach (var item in Model.images)
                {
                    <div class="image-container" data-id-image="@Html.DisplayFor(model => item.IdImage)">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => item.ImagePath)" class="preview inactive" alt="Imagen" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" class="inactive" />
        }
        <br />
        @if (!Model.Modifiable)
        {
            <span class="error">El producto no está visible por alguna razón ajena a él.</span>
        }
    </div>




    </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdOffer }) |
    @Html.ActionLink("Volver", "Index")
</p>
