@model IEnumerable<Cuponera.Entities.offer>

@{
    ViewBag.Title = "Ofertas";
}

<script type="text/javascript">
    var globals = {
        controller: 'offer',
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'title',
                controlDefaultValue: '@(Request.Params["title"] != null ? @Request.Params["title"] : "")',
                label: 'Titulo'
            }]
        }
    };
</script>

<h2>Ofertas</h2>

<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")



    @if (Model.Count() == 0)
    {
        <div class="no-data">No hay datos.</div>
    }
    else
    {
        <div class="table-all">
            <table class="table">
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Precio
                    </th>
<th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @if (item.DeletionDatetime == null && item.StartDatetime < DateTime.Now && item.ExpirationDatetime > DateTime.Now)
                            {
                                <img src="Images/tick.ico" alt="active" class="active" />
                            }
                            else
                            {
                                <img src="Images/x.ico" alt="inactive" class="inactive" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdOffer }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.IdOffer }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.IdOffer })
                        </td>
                    </tr>
                }

            </table>
            @Html.Partial("Paginator")
        </div>

        <div style="clear:both;"></div>
    }

    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>
</div>