@model IEnumerable<Cuponera.Entities.subscription>

@{
    ViewBag.Title = "Suscripciones";
}

<script type="text/javascript">
    var globals = {
        controller: 'subscription',
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'name',
                controlDefaultValue: '@(Request.Params["name"] != null ? @Request.Params["name"] : "")',
                label: 'Nombre'
            }]
        }
    };
</script>

<h2>Suscripciones</h2>


<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")



    @if (Model.Count() == 0)
    {
        <div class="no-data">No hay datos.</div>
    }
    else
    {
        <div class="table-all">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SortFactor)
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-item-id="@item.IdSubscription">
                            <td>
                                <span class="item-name">@Html.DisplayFor(modelItem => item.Name)</span>
                            </td>
                            <td>
                                <span class="item-order">@Html.DisplayFor(modelItem => item.SortFactor)</span>
                            </td>
                            <td class="current-status">
                                @if (item.DeletionDatetime == null)
                                {
                                    <img src="Images/tick.ico" alt="active" class="active" />
                                }
                                else
                                {
                                    <img src="Images/x.ico" alt="inactive" class="inactive" />
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdSubscription }) |
                                @Html.ActionLink("Detalle", "Details", new { id = item.IdSubscription }) |

                                @if (item.DeletionDatetime == null)
                                {
                                    <a href="#" class="deactivate" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                                }
                                else
                                {
                                    <a href="#" class="activate" data-popup-to-open="dialog-confirm-activate">Activar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <script type="text/javascript">
                $(function () {
                    $('#reorder').click(function () {
                        $('.item-order').each(function (k, v) {
                            var $v = $(v);
                            $v.html(
                                $('<input>').val($v.html())
                            );
                        });

                        $(this).addClass('hidden');
                        $('#accept-reorder').removeClass('hidden');
                    });

                    $('#accept-reorder').click(function () {
                        var allOk = true;
                        $('.item-order input').each(function (k, v) {
                            if (!allOk) { return false; }

                            $v = $(v);
                            allOk &= $.isNumeric($v.val());
                            if (!allOk) { $v.addClass('has-error'); }
                        });
                        if (!allOk) { return false; }

                        updateSubscriptionOrder();
                    });
                });

                function updateSubscriptionOrder() {
                    var $rows = $('table.table tbody tr');
                    var order = [];
                    $rows.each(function (k, v) {
                        $v = $(v);
                        order.push({ id: $v.data('item-id'), value: parseInt($v.find('input').val()) });
                    });

                    updateOrder(order);
                }

                function updateOrder(order) {
                    if (!order || !order.length) {
                        return false;
                    }

                    var args = {};
                    args.controller = 'subscription';
                    args.action = 'UpdateOrder';
                    args.method = 'PUT';
                    args.data = JSON.stringify({ order: order });
                    args.success = function () { if (reload && typeof reload === 'function') { reload(); } };
                    callServer(args);
                }
            </script>
            <input type="button" value="Reordenar" id="reorder" />
            <input type="button" value="Aceptar" class="hidden" id="accept-reorder" />


            @Html.Partial("Paginator")
        </div>

        <div style="clear:both;"></div>
    }
    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>
</div>
