@model Cuponera.Entities.state

@{
    ViewBag.Title = "Detalle " + Model.Name;
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
@Scripts.Render("~/bundles/googlemaps")


<script type="text/javascript">
    $(function () {
        var map = maps.initialize({
            editable: false
        });

        if (map) {
            map.setCenter(@ViewBag.Latitude, @ViewBag.Longitude);
            map.drawMarker(@ViewBag.Latitude, @ViewBag.Longitude);
            map.setZoom(16);
        }
    });
</script>


<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Link):</b> <a href="@Html.DisplayFor(model => model.Link)" target="_blank">@Html.DisplayFor(model => model.Link)</a>
    </div>

    
    @if (Model.Latitude != null && Model.Longitude != null)
    {
        <div class="map" id="googleMap"></div>
    }
    
    @if (!String.IsNullOrEmpty(ViewBag.HomeBannerImage))
    {
        <b>Banner de home</b>
        <br />
        <img src="@ViewBag.HomeBannerImage" alt="Banner de home" title="Banner de home" class="preview" />
        <br />

        <b>Link:</b> @(!String.IsNullOrEmpty(ViewBag.HomeBannerLink) ? ViewBag.HomeBannerLink : "No se ha elegido ningún link")
        <br /><br />
    }

    @if (!String.IsNullOrEmpty(ViewBag.ListBannerImage))
    {
        <b>Banner de listado</b>
        <br />
        <img src="@ViewBag.ListBannerImage" alt="Banner de listado" title="Banner de listado" class="preview" />
        <br />
        
        <b>Link:</b> @(!String.IsNullOrEmpty(ViewBag.ListBannerLink) ? ViewBag.ListBannerLink : "No se ha elegido ningún link") 
    }
    
    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" title="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" title="inactive" class="inactive" />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdState }) |
    @Html.ActionLink("Volver", "Index")
</p>
