<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title Weenty</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" title="Weenty!" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/jqueryPagination")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/jqueryBlock")
        @Scripts.Render("~/bundles/jqueryPagination")        
        

        <script type="text/javascript">
            var popup_open_function = function () {
                var popup_to_open = $(this).data('popup-to-open');
                var $tr = $(this).closest('tr');
                var id = $tr.data('item-id');
                var name_to_display = $tr.find('span.item-name')
                                         .html();
                var $popup = $("." + popup_to_open);
                setDataInPopUp($popup, { name_to_display: name_to_display, id: id });
                if ($popup.dialog) {
                    $popup.dialog('open');
                }
            };
            
        $(function(){
            $("[data-popup-to-open]").click(popup_open_function);
        });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/favicon.ico" alt="active" title="Weenty!" class="active" style="height:50px" />
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var principal = new Cuponera.WebSite.Models.CuponeraPrincipal(new Cuponera.WebSite.Models.CuponeraIdentity(HttpContext.Current.User.Identity));
                                if (Cuponera.WebSite.Models.CuponeraIdentity.CurrentUserIsActive)
                                { 
                                    if (principal.IsInRole("admin"))
                                    {
                                        <li>@Html.ActionLink("Tipo suscripciones", "Index", "subscription")</li>
                                        <li>@Html.ActionLink("Suscripciones", "Index", "companySubscription")</li>
                                        <li>@Html.ActionLink("Categorías", "Index", "category")</li>
                                        <li>@Html.ActionLink("Ciudades", "Index", "state")</li>
                                    }

                                    if (principal.IsInRole("admin") || Cuponera.WebSite.Models.CuponeraIdentity.AdminCompany > 0)
                                    {
                                        <li>@Html.ActionLink("Usuarios", "Index", "userCompany")</li>
                                    }
                                

                                    <li>@Html.ActionLink("Empresas", "Index", "company")</li>
                                    <li>@Html.ActionLink("Sucursales", "Index", "store")</li>
                                    <li>@Html.ActionLink("Productos", "Index", "product")</li>
                                    <li>@Html.ActionLink("Ofertas", "Index", "offer")</li>
                                }   
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Weenty</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
        @Html.Partial("Popups")
    </body> 
</html>
