<script type="text/javascript" src="~/Scripts/menu.js"></script>
<link rel="stylesheet" href="~/Content/menu.css" />

<nav>
   


    <ul id="menu">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            var principal = new Cuponera.WebSite.Models.CuponeraPrincipal(new Cuponera.WebSite.Models.CuponeraIdentity(HttpContext.Current.User.Identity));
            if (principal.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Ciudad", "Index", "state")</li>
                <li>@Html.ActionLink("Categoría", "Index", "category")</li>
                <li>@Html.ActionLink("Tipo suscripción", "Index", "subscription")</li>
                <li>@Html.ActionLink("Suscribir", "Index", "companySubscription")</li>
            }

            <li>@Html.ActionLink("Empresa", "Index", "company")</li>
            <li>@Html.ActionLink("Sucursal", "Index", "store")</li>
            <li>@Html.ActionLink("Producto", "Index", "product")</li>
            
            if (principal.IsInRole("admin") || Cuponera.WebSite.Models.CuponeraIdentity.AdminCompany > 0)
            {
                <li>@Html.ActionLink("Usuario", "Index", "userCompany")</li>
            }
        }

    </ul>
</nav>