<nav>
    <ul id="menu">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            var principal = new Cuponera.WebSite.Models.CuponeraPrincipal(new Cuponera.WebSite.Models.CuponeraIdentity(HttpContext.Current.User.Identity));
            if (Cuponera.WebSite.Models.CuponeraIdentity.CurrentUserIsActive)
            {
                if (principal.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Tipo suscripciones", "Index", "subscription")</li>
                    <li>@Html.ActionLink("Suscripciones", "Index", "companySubscription")</li>
                    <li>@Html.ActionLink("Categorías", "Index", "category")</li>
                    <li>@Html.ActionLink("Ciudades", "Index", "state")</li>
                }

                if (principal.IsInRole("admin") || Cuponera.WebSite.Models.CuponeraIdentity.AdminCompany > 0)
                {
                    <li>@Html.ActionLink("Usuarios", "Index", "userCompany")</li>
                }


                <li>@Html.ActionLink("Empresas", "Index", "company")</li>
                <li>@Html.ActionLink("Sucursales", "Index", "store")</li>
                <li>@Html.ActionLink("Productos", "Index", "product")</li>
                <li>@Html.ActionLink("Ofertas", "Index", "offer")</li>
            }
        }

    </ul>
</nav>