@model Cuponera.Entities.preHomeImages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>preHomeImages</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPreHomeImage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
