@model Cuponera.Entities.store

@{
    ViewBag.Title = "Detalle " + Model.Name;
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
@Scripts.Render("~/bundles/googlemaps")



<script type="text/javascript">
    $(function () {
        var map = maps.initialize({
            editable: false
        });

        if (map) {
            map.setCenter(@ViewBag.Latitude, @ViewBag.Longitude);
            map.drawMarker(@ViewBag.Latitude, @ViewBag.Longitude);
            map.setZoom(16);
        }
    });
</script>


<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <br />
    <div class="item-description">
        <b>Empresa:</b> @ViewBag.CompanyName
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Description):</b> @Html.DisplayFor(model => model.Description)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.IdCategory):</b> @Html.DisplayFor(model => model.category.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.IdCompany):</b> @Html.DisplayFor(model => model.company.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.ContactNumber):</b> @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Address):</b> @Html.DisplayFor(model => model.Address)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.state.Name)</b> @Html.DisplayFor(model => model.state.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.ZipCode):</b> @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.StoreHours):</b> @Html.DisplayFor(model => model.StoreHours)
    </div>

    @if (Model.Latitude != null && Model.Longitude != null) { 
       <div class="map" id="googleMap"></div>
    }

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.WebPage):</b> @Html.DisplayFor(model => model.WebPage)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.FacebookUrl):</b> @Html.DisplayFor(model => model.FacebookUrl)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.WhatsApp):</b> @Html.DisplayFor(model => model.WhatsApp)
    </div>

 
    <div class="item-description">
        <div class="col-md-10">
            <b>Imágenes:</b>
            <span>@(Model.images.Count() == 0 && string.IsNullOrEmpty(Model.ImagePath) ? "No hay imágenes cargadas." : "")</span>
            <div class="images-container">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <div class="image-container selected" data-id-image="main">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => model.ImagePath)" class="preview selected" alt="Portada" />
                        </div>
                    </div>
                }
                @foreach (var item in Model.images)
                {
                    <div class="image-container" data-id-image="@Html.DisplayFor(model => item.IdImage)">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => item.ImagePath)" class="preview inactive" alt="Imagen" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" title="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" title="inactive" class="inactive" />
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdStore }) |
    @Html.ActionLink("Volver", "Index")
</p>
