@model Cuponera.Entities.store

@{
    ViewBag.Title = "Detalle " + Model.Name;
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
@Scripts.Render("~/bundles/googlemaps")
@Scripts.Render("~/bundles/ValidateEnabledObjectHierachy")


<script type="text/javascript">
    $(function () {

        AddWarningOnInactiveObjects("IdCompany", "store", "companyInactive");

        var map = maps.initialize({
            editable: false
        });

        if (map) {
            map.setCenter(@ViewBag.Latitude, @ViewBag.Longitude);
            map.drawMarker(@ViewBag.Latitude, @ViewBag.Longitude);
            map.setZoom(16);
        }
    });
</script>


<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Sucursal</h4>
    <hr />

    <div class="item-description">
        <div id="IdCompany" class="hidden">@Html.DisplayFor(model => model.IdCompany)</div>
        <div id="companyInactive" class="alert-warning">
            <img src="~/Images/warningIcon.png" alt="warning" />
            Atención: <span id="inactiveElements"></span> elegida está desactivada.
        </div>
    </div>

    <div class="item-description">
        <b>Empresa:</b> @ViewBag.CompanyName
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Description):</b> @Html.DisplayFor(model => model.Description)
    </div>

    <div class="item-description">
        @if (Model.storeCategory.Where(sc => sc.IdCategory != null && !sc.DeletionDatetime.HasValue).Count() > 0)
        { 
            <b>@Html.DisplayName("Categorias"):</b>
            <br />
            foreach (var item in Model.storeCategory.Where(sc => sc.IdCategory != null && !sc.DeletionDatetime.HasValue).OrderBy(sc => sc.category.Name))
            {
                <p style="text-indent: 80px;border-bottom: 0;border-top: 0;margin-bottom: 0;margin-top:  0;">@Html.DisplayName(item.category.Name)</p>
            }
        }
    </div>

    <div class="item-description">
        @if (Model.storeCategory.Where(sc => sc.IdSubCategory != null && !sc.DeletionDatetime.HasValue).Count() > 0)
        { 
            <b>@Html.DisplayName("Sub-Categorias"):</b>
            <br />
            foreach (var item in Model.storeCategory.Where(sc => sc.IdSubCategory != null && !sc.DeletionDatetime.HasValue).OrderBy(sc => sc.subcategory.Name))
            {
                
                <p style="text-indent: 80px;border-bottom: 0;border-top: 0;margin-bottom: 0;margin-top:  0;">@Html.DisplayName(item.subcategory.Name)</p>
            }
        }
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.IdCompany):</b> @Html.DisplayFor(model => model.company.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.ContactNumber):</b> @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Address):</b> @Html.DisplayFor(model => model.Address)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.state.Name)</b> @Html.DisplayFor(model => model.state.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.ZipCode):</b> @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.StoreHours):</b> @Html.DisplayFor(model => model.StoreHours)
    </div>

    @if (Model.Latitude != null && Model.Longitude != null) { 
       <div class="map" id="googleMap"></div>
    }

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.WebPage):</b> @Html.DisplayFor(model => model.WebPage)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.FacebookUrl):</b> @Html.DisplayFor(model => model.FacebookUrl)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.WhatsApp):</b> @Html.DisplayFor(model => model.WhatsApp)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Nextel):</b> @Html.DisplayFor(model => model.Nextel)
    </div>

 
    <div class="item-description">
        <div class="col-md-10">
            <b>Imágenes:</b>
            <span>@(Model.images.Count() == 0 && string.IsNullOrEmpty(Model.ImagePath) ? "No hay imágenes cargadas." : "")</span>
            <div class="images-container">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <div class="image-container selected" data-id-image="main">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => model.ImagePath)" class="preview selected" alt="Portada" />
                        </div>
                    </div>
                }
                @foreach (var item in Model.images)
                {
                    <div class="image-container" data-id-image="@Html.DisplayFor(model => item.IdImage)">
                        <div class="image-container-content">
                            <img src="@Html.DisplayFor(model => item.ImagePath)" class="preview inactive" alt="Imagen" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" title="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" title="inactive" class="inactive" />
        }

        <br />
        @if (!Model.Modifiable)
        {
            <span class="error">La sucursal no está visible debido a las advertencias mostradas.</span>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdStore }) |
    @Html.ActionLink("Volver", "Index")
</p>
