@model Cuponera.Entities.company

@{
    ViewBag.Title = "Detalle " + Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Empresa</h4>
    <hr />

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Contact):</b> @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Telephone):</b> @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="item-description">
        <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" class="active" />            
        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" class="inactive" />
        }

        <br />
        @if (!Model.Modifiable)
        {
            <span class="error">La empresa no está visible debido a las advertencias mostradas.</span>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCompany }) |
    @Html.ActionLink("Volver", "Index")
</p>