@model IEnumerable<Cuponera.Entities.company>

@{
    ViewBag.Title = "Empresas";
}

<script type="text/javascript">
    var globals = {
        controller: 'company',
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'name',
                controlDefaultValue: '@(Request.Params["name"] != null ? @Request.Params["name"] : "")',
                label: 'Nombre'
            }]
        }
    };
</script>


<h2>Empresas</h2>

<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")



    @if (Model.Count() == 0)
    {
        <div class="no-data">No hay datos.</div>
    }
    else
    {
        <div class="table-all">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => modelItem.Name)
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-item-id="@item.IdCompany">
                            <td>
                                <span class="item-name">@Html.DisplayFor(modelItem => item.Name)</span>
                            </td>
                            <td class="current-status">
                                @if (item.DeletionDatetime == null)
                                {
                                    <img src="Images/tick.ico" alt="active" class="active" />
                                }
                                else
                                {
                                    <img src="Images/x.ico" alt="inactive" class="inactive" />
                                }
                            </td>
                            <td class="operation first">
                                @Html.ActionLink("Detalle", "Details", new { id = item.IdCompany }, new { @class = "detailsIcon", title = "Detalle" })
                            </td>
                            <td class="operation">
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdCompany }, new { @class = "editIcon", title = "Editar" })
                            </td>
                            <td class="operation">
                                @if (item.DeletionDatetime == null)
                                {
                                    <a href="#" class="removeIcon" title="Eliminar" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                                }
                                else
                                {
                                    if (item.Modifiable) { 
                                        <a href="#" class="addIcon" title="Activar" data-popup-to-open="dialog-confirm-activate">Activar</a>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Detalle", "Details", new { id = item.IdCompany }, new { @class = "warningIcon", title = "La empresa no se encuentra activa y no puede ser activada." })
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("Paginator")
        </div>

        <div style="clear:both;"></div>
    }
    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>

</div>