@model IEnumerable<Cuponera.Entities.company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-all">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-company-id="@item.IdCompany">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="current-status">
                    @if (item.DeletionDatetime == null)
                    {
                        <img src="Images/tick.ico" alt="active" class="active" />
                    }
                    else
                    {
                        <img src="Images/x.ico" alt="inactive" class="inactive" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdCompany }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCompany }) |
                    <a href="" class="delete" data-popup-to-open="dialog-confirm-delete">Eliminar</a>
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCompany })
                </td>
            </tr>
        }
    </tbody>
</table>
