@model IEnumerable<Cuponera.Entities.company>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var globals = {
        controller: 'company'
    };

    function confirmDelete(id) {
        deleteElement({ controller: globals.controller, id: id });
    }

    function confirmActivate(id) {
        activateElement({ controller: globals.controller, id: id });
    }
</script>

<h2>Empresas</h2>

@Html.Partial("AntiForgeryTokenForm")
@Html.Partial("Filters")

<table class="table table-all">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-item-id="@item.IdCompany">
                <td>
                    <span class="item-name">@Html.DisplayFor(modelItem => item.Name)</span>
                </td>
                <td class="current-status">
                    @if (item.DeletionDatetime == null)
                    {
                        <img src="Images/tick.ico" alt="active" class="active" />
                    }
                    else
                    {
                        <img src="Images/x.ico" alt="inactive" class="inactive" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdCompany }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCompany }) |
                    
                    @if (item.DeletionDatetime == null)
                    {
                    <a href="#" class="delete" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                    }
                    else
                    {
                        <a href="#" class="delete" data-popup-to-open="dialog-confirm-activate">Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
