@model IEnumerable<Cuponera.Entities.company>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var globals = {
        controller: 'company',
        data: [],
        actions: {
            reloadData: 'GetCompanies'
        },
        filters: {
            include: ['all'],
            custom: [{
                controlType: 'text',
                controlId: 'name',
                label: 'Nombre'
            }]
        }
    };

    function confirmDelete(id) {
        deleteElement({ controller: globals.controller, id: id });
    }

    function confirmActivate(id) {
        activateElement({ controller: globals.controller, id: id });
    }

    function refreshTable() {
        $tbody = $('table tbody');
        $tbody.empty();

        $(globals.data).each(function (key, item) {
            var $tr = $('<tr></tr>').data('item-id', item.IdCompany);
            var $item_name = $('<span></span>').addClass('item-name')
                                              .html(item.Name);

            var $first_td = $('<td></td>').append($item_name);
            var $second_td = generateStatusImage({ deletionDatetime: item.DeletionDatetime });
            var $third_td = generateControlButtons({ id: item.IdCompany, deletionDatetime: item.DeletionDatetime });
            
            $tr.append($first_td)
                .append($second_td)
                .append($third_td);
            $tbody.append($tr);
        });

        $("[data-popup-to-open]").click(popup_open_function);
    }
</script>


<h2>Empresas</h2>

<div class="list-content">
    @Html.Partial("AntiForgeryTokenForm")
    @Html.Partial("Filters")
    <div class="table-all">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-item-id="@item.IdCompany">
                        <td>
                            <span class="item-name">@Html.DisplayFor(modelItem => item.Name)</span>
                        </td>
                        <td class="current-status">
                            @if (item.DeletionDatetime == null)
                            {
                                <img src="Images/tick.ico" alt="active" class="active" />
                            }
                            else
                            {
                                <img src="Images/x.ico" alt="inactive" class="inactive" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdCompany }) |
                            @Html.ActionLink("Detalle", "Details", new { id = item.IdCompany }) |

                            @if (item.DeletionDatetime == null)
                            {
                                <a href="#" class="deactivate" data-popup-to-open="dialog-confirm-deactivate">Eliminar</a>
                            }
                            else
                            {
                                <a href="#" class="activate" data-popup-to-open="dialog-confirm-activate">Activar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="clear:both;"></div>
        <p>
            @Html.ActionLink("Nuevo", "Create")
        </p>
    </div>
</div>